<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lolbox.lolbox">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_box"
        android:label="롤 상제 체크"
        android:roundIcon="@mipmap/ic_box_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name="com.lolbox.lolbox.EditActivity"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <activity android:name="com.lolbox.lolbox.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>